---

---

<!DOCTYPE html>
<html>

  {% include head.html %}

    <body unresolved touch-action="auto">

    <!-- <header class="site-header"> -->
<header style="background-color:white;">
    <paper-tabs selected="2" class="transparent-teal font14 paper-shadow-bottom paper-shadow-bottom-z-1">
        <paper-tab>归档</paper-tab>
        <paper-tab>文章</paper-tab>
        <paper-tab>关于我</paper-tab>

    </paper-tabs>
    <script>
    var flag =false,
        tabs = document.querySelector('paper-tabs');
    tabs.addEventListener('core-select', function() {
        console.log("Selected: " + tabs.selected);
        // var hrefs = [
        // 'http://www.jerryimba.com/archive',
        // 'http://www.jerryimba.com',
        // 'http://www.jerryimba.com/about'
        // ]
        var hrefs = [
        'http://localhost:8888/archive',
        'http://localhost:8888',
        'http://localhost:8888/about/'
        ]
        if(flag) window.location.href = hrefs[tabs.selected];
        console.log(hrefs[tabs.selected]);
        flag = true;
    });
    </script>

</header>

    <div class="page-content">
      <div class="wrap">
      {{ content }}
      </div>
    </div>

    {% include footer.html %}

    </body>
</html>